<div class="wrapper_home">
<%= render "shared/header"%>

<h1 class="island_name"><%= @map.name%></h1>
<div class="island_image_content">
  <%= image_tag "island_#{@map.id}.png", class: "island_image"%>
</div>

<div class="open_modal">
  <button id="openModal" class="submit">投稿</button>
</div>

 <%= render partial: 'shared/error_messages', locals: {model: @post}%>

<section id="modalArea" class="modalArea">
  <div id="modalBg" class="modalBg"></div>
  <div class="modalWrapper">
    <div class="modalContents">
      <h1 class="post_title">自分の旅路を投稿しよう!</h1>
      <%= form_with(model: [@map, @post],url: map_posts_path(@map,@post), class: "post_form", method: :post, local: true) do |form| %>
        <%= form.text_area :content, placeholder: "投稿する", class: "post_textbox" %>
        <div class="island_evaluation">
          <p class="good_evaluation">島の総合評価</p>
          <%= form.collection_select(:evaluation_id, Evaluation.all, :id, :name, {}, {class: "evaluation-select"})%>
        </div>
        <div class="island_paste">
          <p class="island_paste_title">画像投稿</p>
          <%= form.file_field :images, name: 'post[images][]', id: 'post_image', class: 'post_image' %>
        </div>
        <div id="image-list"></div>
        <%= form.submit "SEND", class: "submit", name: "commit1" %>
      <% end %>
    </div>
    <div id="closeModal" class="closeModal">
      ×
    </div>
  </div>
</section>

  <div class="posts">
    <h2 class="post_list">＜みんなの旅行記＞</h4>
    <%= paginate @posts %>
      <% if @posts.blank?%>
        <p class="post_blank_message">行ったことある人は旅行記を投稿しよう!</p>
      <% end %>
      <% if @posts %>
        <% @posts.each do |post| %>
          <div class="post_content">
            <div class="upper_post">
              <div class="upper_post_left">
                <div class="user_name"><%= post.user.name%></div>
                <div class="post_created"><%= l post.created_at%></div>
              </div>
              <div class="upper_post_right">
                <div class="evaluation">島の評価: <%= post.evaluation.name%></div>
              </div>
            </div>
              <div class="lower">
                <div class="main_content"><%= safe_join(post.content.split("\n"), tag(:br)) %></div>
              </div>        
              <div class="post_images">
              <% post.images.each do |image| %>
                <%= image_tag image, class:'images' %>
              <% end %>
              </div> 
          </div>
        <% end %>
      <% end %>
  </div>
  <h4 class="comment_list">＜コメント欄＞</h4>
    <div class="comments">
    <div class="comments_list" id="comments_list">
      <% if @comments %>
        <% @comments.each do |comment| %>
          <div class="comment">
            <div class="comment_top">
              <div class="comment_user"><%= comment.user.name%></div>
              <div class="comment_time"><%= l comment.created_at%></div>
            </div>
            <div class="comment_main"><%= comment.content %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
    <div class="container">
      <%= form_with(model: [@map, @comment], url: map_comments_path(@map), class: "comment_form", method: :post, local: true) do |form| %>
        <%= form.text_area :content, placeholder: "コメントを投稿する(40文字以内)", class: "comment_box", rows: "5" %>
        <%= form.submit "投稿", id: "comment_submit", class: "submit" %>
      <% end %>
  </div>
  <%= render "shared/footer"%>
</div>

<script>
  (function () {
  const modalArea = document.getElementById('modalArea');
  const openModal = document.getElementById('openModal');
  const closeModal = document.getElementById('closeModal');
  const modalBg = document.getElementById('modalBg');
  const toggle = [openModal,closeModal,modalBg];
  
  for(let i=0, len=toggle.length ; i<len ; i++){
    toggle[i].addEventListener('click',function(){
      modalArea.classList.toggle('is-show');
    });
  }
}());
</script>
