<header>
  <%= image_tag "home_logo.png"%>
  <p class="header_sub">〜東京の離島掲示板〜</p>
  <nav>
    <ul class= "user_info">
    <% if user_signed_in? %>
      <li class="user_logout" id="header_li"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete%></li>
      <li class="user-name" id="header_li"><%= current_user.name %></li>
    <% else %>
      <li class="user_registration" id="header_li"><%= link_to '新規登録', new_user_registration_path %></li>
      <li class="user_signin" id="header_li"><%= link_to 'ログイン', new_user_session_path%></li>
    <% end %>
    </ul>
  </nav>
</header>